::selection {
    color: var(--bs-light);
    background: var(--bs-primary);
}


select option:checked {
    color: var(--bs-light);
    background: var(--bs-primary);
}



.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
